@import "./universal";

.home__intro {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 9rem 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;

  &__title {
    text-align: center;
    font-family: "Ledger", serif;
    font-size: 6.2vh;

    @media (max-width: 1024px) {
      font-size: 3.5rem;
    }
  }
  &__image {
    width: 50%;
    height: 120vh;
    object-fit: cover;

    @media (max-width: 1024px) {
      height: 40vh;
      width: 100%;
    }

    &--container {
      width: 100%;
      display: flex;
      gap: 7rem;

      @media (max-width: 1024px) {
        flex-direction: column;
      }
    }
  }
}
